.all-user-carts{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 0;
    gap: 10px;
    margin-bottom: 20px;
    
}
.user-cart{
    width: 280px;
}
@media only screen and (max-width: 601px) {
    .all-user-carts {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-content: center;
        align-items: center;
        margin: 2px;
        padding: 2px;
      
    }
  }