.logo-img img{
    width: 200px;
    height: 150px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
}
.manue{
   padding-bottom: 20px;
}
.manue{
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    padding-bottom: 5px;
    color: rgb(18 108 161);

}
.manue:hover{
    color: rgb(227, 13, 13);
    border-bottom:2px solid rgb(227, 13, 13) ;
    transition: .2s;
}
.active-manue{
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    padding-bottom: 5px;
    color: rgb(227, 13, 13);
    border-bottom:2px solid rgb(227, 13, 13)
}